<!doctype html>
<html lang="en">

<head>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" > 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    
    {# Theme color for browser chrome (chrome android) #}
    <meta name="theme-color" content="#002b36">

    {# Primary Meta Tags #}
    <title>JAMming out with SSG</title>
    <meta name="title" content="JAMming out with SSG">
    <meta name="description" content="An Introduction to Static Site Generators and the JAM Stack">


    {# Open Graph / Facebook #}
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://static-gen-presentation.netlify.com/">
    <meta property="og:title" content="JAMming out with SSG">
    <meta property="og:description" content="An Introduction to Static Site Generators and the JAM Stack">
    <meta property="og:image" content="https://static-gen-presentation.netlify.com/assets/images/thumbnail.png">

    {# Twitter #}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@KyleMitBTV">
    <meta name="twitter:title" content="JAMming out with SSG">
    <meta name="twitter:description" content="An Introduction to Static Site Generators and the JAM Stack">
    <meta name="twitter:image" content="https://static-gen-presentation.netlify.com/assets/images/thumbnail.png">


    {# capture the CSS content as a Nunjucks variable #}
    {% set css %}
        {% include "assets/styles/styles.css" %}
    {% endset %}
    {# feed it through our cssmin filter to minify #}
    <style type="text/css">{{ css | cssmin | safe }}</style>
    
    <link href="/reveal/lib/css/ocean.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Lato&display=swap" rel="stylesheet">
</head>

<body class="page {{class}}">


    <main class="content">
        
        {{ content | safe }}

    </main>

</body>
</html>
