---
layout: default.njk
---


{{ content | safe }}


<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11" data-turbolinks-eval="false" data-turbolinks-suppress-warning></script>

{# capture the JS content as a Nunjucks variable #}
{% set js %}
    {% include "assets/scripts/slide.js" %}
{% endset %}
{# feed it through our cssmin filter to minify #}
<script type="text/javascript" data-turbolinks-eval="false" data-turbolinks-suppress-warning>
    {{ js | jsmin | safe }}
</script>
